# Count only Python files
*.py linguist-detectable=true

# Ignore documentation, config, and non-code files
README.md linguist-documentation
*.spec linguist-detectable=false
*.md linguist-documentation
*.png linguist-detectable=false

# Ignore common non-code folders
dist/ linguist-vendored
env/ linguist-vendored
__pycache__/ linguist-generated
